<form action="" class="movie-edit_block">
  <table>
    <tr>
      <td><label  for="me-title">Title</label></td>
      <td><input type="text" class="" value="" id="me-title"></td>
    </tr>
    <tr>
      <td><label for="me-poster_url">PosterUrl</label></td>
      <td><input type="text" class="" value="" id="me-poster_url"></td>
    </tr>
    <tr>
      <td><label for="me-genres">Genres</label></td>
      <td><input type="text" class="" value="" id="me-genres"></td>
    </tr>
    <tr>
      <td><label for="me-actors">Actors</label></td>
      <td><input type="text" class="" value="" id="me-actors"></td>
    </tr>
    <tr>
      <td><label for="me-director">Director</label></td>
      <td><input type="text" class="" value="" id="me-director"></td>
    </tr>
    <tr>
      <td><label for="me-description">Description</label></td>
      <td><input type="text" class="" value="" id="me-description"></td>
    </tr>
    <tr>
      <td colspan=2></td>
      <td><input type="submit" class="" value="Submit"></td>
    </tr>
  </table>
</form>
