<div class='clearfix'>
  <div class='movie_list_base-content'>
    <sort-buttons (eventSortLikes)='sortItemMovie($event)' (eventSortStars)='sortItemMovie($event)'></sort-buttons>
    <search-button (eventSearch)='searchItemMovie($event)'></search-button>
    <edit-button>1111</edit-button>

    <section class='movie_list' *ngFor='let item of itemData'>
      <div class='movie_list_sidebar'>
        <button class='like' (click)='like(item, true)'></button>
        <button class='dislike' (click)='like(item, false)'></button>
        <div class='movie_list_sidebar-likes'>likes</div>
        <div class='movie_list_quantity-likes'>{{ item.likes }}</div>
      </div>
      <div class='movie_list_description' (click)='movieItem(item)'>
        <div class='movie_list_title'>{{ item.title }}</div>
        <div class='clearfix'></div>
        <div class='movie_list_poster'>
          <img class='movie_list_poster-img' src='{{ item.posterUrl }}' alt='poster'>
        </div>
      </div>
      <star-rating [rating]='item.stars'
                   [itemId]='item.id'
                   (ratingClick)='ratingComponetClick($event)'>
      </star-rating>
    </section>
  </div>
</div>



